# Set this to https://matthewchaphotography.vercel.app in Vercel.
# Local fallback in code is http://localhost:3000 if this is unset.
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_FORMSPREE_POST=
PACKAGES_PASSWORD=
PACKAGES_AUTH_TOKEN=
